* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.crossword {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: black;
    border: 1px solid black;
}

.square {
    background-color: #fafafa;
    border: 1px solid black;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2% 0 0 4%;
    font-size: 14px;
}

.inserted-clues {
    display: flex;
}

.across {
    margin-right: 10px;
}

.down {
    margin-left: 10px;
}
